/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* targets the html element body*/
body {
	/*background-color: skyblue; */
	/*background-image:url('../images/bg.jpg');*/
	background-image: linear-gradient(rgba(63, 191, 178, 0.75), rgba(0, 88,255, 0.45)), url('../images/bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2; /* off white */
}
/*this is end of body styling*/

/*target html element h1*/

h1 {
	font-size: 48px;
	background-color: rgba(36, 38, 40, 0.5); /*off black*/
	text-transform: uppercase;
	margin-bottom: 40px;
	letter-spacing: 3px;
	font-family: 'Fredoka One', cursive;
	padding: 6px;
	border-style: solid;
	border-color: white;
	border-radius: 20px;
	border-width: 5px;

}
/*end of h1 styling*/

/*start of h2 element*/
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 20px;
	background-color: rgba(36, 38, 40, 0.5);
	/*margin: 10px;  margin creates space outside of the element */
	padding: 5px; /* adds space inside the element */
	border-radius: 10px;
	font-family: font-family: 'Livvic', sans-serif;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}
/*end of h2 styling*/

/*targets the element with the class bio*/

.bio {
	font-family: 'Neuton', serif;
	font-size: 20px;
	background-color:  rgba(10, 69, 137, 0.64) ; /* rgba(51,51,51, 0.5); */
	line-height: 1.75;
	padding: 5px;
	border-radius: 5px;
	 }
/*end of bio styling */

/*target the element with the id me*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: rgba(10, 137, 78, 0.46);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of id me*/

.container {
	width: 500px;
	text-align: center;
	margin: 0 auto; /* this will center the element horixontally */

}